<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Servlets.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearAll</servlet-name>
        <servlet-class>Servlets.ClearAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkMessage</servlet-name>
        <servlet-class>Servlets.ChkMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkNotification</servlet-name>
        <servlet-class>Servlets.ChkNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkCart</servlet-name>
        <servlet-class>Servlets.ChkCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>Servlets.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>Servleets.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>Servlets.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>Servlets.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatestBooks</servlet-name>
        <servlet-class>Servlets.LatestBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkSavedList</servlet-name>
        <servlet-class>Servlets.ChkSavedList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyProfile</servlet-name>
        <servlet-class>Servlets.ViewMyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMessages</servlet-name>
        <servlet-class>Servlets.ManageMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCart</servlet-name>
        <servlet-class>Servlets.ManageCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCheckout</servlet-name>
        <servlet-class>Servlets.ManageCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayCart</servlet-name>
        <servlet-class>Servlets.PayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfile</servlet-name>
        <servlet-class>Servlets.ManageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Servlets.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyItNow</servlet-name>
        <servlet-class>Servlets.BuyItNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayBuyItNow</servlet-name>
        <servlet-class>Servlets.PayBuyItNow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearAll</servlet-name>
        <url-pattern>/ClearAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkMessage</servlet-name>
        <url-pattern>/ChkMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkNotification</servlet-name>
        <url-pattern>/ChkNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkCart</servlet-name>
        <url-pattern>/ChkCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatestBooks</servlet-name>
        <url-pattern>/LatestBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkSavedList</servlet-name>
        <url-pattern>/ChkSavedList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyProfile</servlet-name>
        <url-pattern>/ViewMyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMessages</servlet-name>
        <url-pattern>/ManageMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCart</servlet-name>
        <url-pattern>/ManageCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCheckout</servlet-name>
        <url-pattern>/ManageCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayCart</servlet-name>
        <url-pattern>/PayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfile</servlet-name>
        <url-pattern>/ManageProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyItNow</servlet-name>
        <url-pattern>/BuyItNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayBuyItNow</servlet-name>
        <url-pattern>/PayBuyItNow</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
