
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servleets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Servleets.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearAll</servlet-name>
        <servlet-class>Servleets.ClearAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkMessage</servlet-name>
        <servlet-class>Servleets.ChkMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkNotification</servlet-name>
        <servlet-class>Servleets.ChkNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChkCart</servlet-name>
        <servlet-class>Servleets.ChkCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>Servleets.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>Servleets.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>Servleets.SignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearAll</servlet-name>
        <url-pattern>/ClearAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkMessage</servlet-name>
        <url-pattern>/ChkMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkNotification</servlet-name>
        <url-pattern>/ChkNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkCart</servlet-name>
        <url-pattern>/ChkCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>nsbm13.2developers@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>13.2developers</param-value>
    </context-param>
 
    <welcome-file-list>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
</web-app>
