/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2015, 10:36:49 PM
    Author     : Chami
*/

#topmenu .active a{background-color: orange;}
#orange .form-control:focus{
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    border-color: orange;
}
#orange .form-control:focus{
    box-shadow: inset 0 1px 1px orange, 0 0 8px orange;
    border-color: orange;
}