/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2015, 5:47:47 PM
    Author     : Indunil
*/
.body{
    margin: 1px;
    padding: 2px;
}

.MyServletDivStyle{
    font-family: trebuchet ms;
    font-kerning: normal;
    font-size: xx-large;
}